<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="row">
        <div class="col-lg-3"><a th:href="@{/showTimes/new/{id} (id=${movieId})}" class="btn btn-primary btn-sm mb-3">Add Show Time</a></div>

    </div>

    <div class="row">
        <div class="col-12">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">MovieId</th>
                    <th scope="col">DateId</th>
                    <th scope="col">TimeId</th>
                    <th scope="col">Available Seats</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movieShowTime:${movieShowTimes}">
                    <td th:text="${movieShowTime.id}"></td>
                    <td th:text="${movieShowTime.movieId}"></td>
                    <td th:text="${movieShowTime.showDate}"></td>
                    <td th:text="${movieShowTime.showTime}"></td>
                    <td th:text="${movieShowTime.availableSeats}"></td>
                    <td>
                        <a th:href="@{/showTimes/{movieId}/{id} (id=${movieShowTime.id},movieId=${movieId}) }" type="button" class="btn btn-danger"><i
                                class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>