<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="row">
        <div class="col-lg-3"><a th:href="@{/movies/new}" class="btn btn-primary btn-sm mb-3">Add Movie</a></div>
    </div>

    <div class="row">
        <div class="col-12">

            <div class="row mb-5">
                <div class="col-md-4 mb-4" th:each="movie:${movies}">
                    <div class="card">
                        <img th:src="@{'assets/images/'+ ${movie.poster_path}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${movie.title}"></h5>
                            <a th:href="@{/movies/edit/{id} (id=${movie.id}) }" type="button" class="btn btn-success"><i
                                    class="fas fa-edit"></i></a>
                            <a th:href="@{/movies/{id} (id=${movie.id}) }" type="button" class="btn btn-danger"><i
                                    class="far fa-trash-alt"></i></a>
                            <a th:href="@{/showT/{id} (id=${movie.id}) }" type="button" class="btn btn-warning"><i
                                    class="far fa-clock"></i></a>
                        </div>
                    </div>
                </div>
            </div>


<!--            <table class="table table-bordered">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">Id</th>-->
<!--                    <th scope="col">TMDB</th>-->
<!--                    <th scope="col">Title</th>-->
<!--                    <th scope="col">Poster</th>-->
<!--                    <th scope="col">Actions</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="movie:${movies}">-->
<!--                    <td th:text="${movie.id}"></td>-->
<!--                    <td th:text="${movie.tmdbId}"></td>-->
<!--                    <td th:text="${movie.title}"></td>-->
<!--                    <td th:text="${movie.poster_path}"></td>-->
<!--                    <td>-->
<!--                        <a th:href="@{/movies/edit/{id} (id=${movie.id}) }" type="button" class="btn btn-success"><i-->
<!--                                class="fas fa-edit"></i></a>-->
<!--                        <a th:href="@{/movies/{id} (id=${movie.id}) }" type="button" class="btn btn-danger"><i-->
<!--                                class="far fa-trash-alt"></i></a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>