<footer th:fragment="footer" class="bg-dark text-light text-center text-md-left">
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-12 col-md-12 pb-4">
                <h4 class="mb-4">
                    About
                </h4>
                Cinemax Movie Ticket Booking Web Service is created for Service Oriented Computing <br>
                All Rights Reserved By Emiz Ⓒ
            </div>
            <div class="col d-flex justify-content-center mb-4">
                <a href="https://www.facebook.com/cruzerswitch98/" target="_blank" class="d-block px-3"><i class="fab fa-facebook-f" style="color: white"></i></a>
                <a href="https://www.instagram.com/menura_adithya/" target="_blank" class="d-block px-3"><i class="fab fa-instagram" style="color: white"></i></a>
                <a href="https://www.linkedin.com/in/menura-adithya-434760199/" target="_blank" class="d-block px-3"><i class="fab fa-linkedin-in" style="color: white"></i></a>
            </div>
            <p class="text-center text-secondary border-top border-secondary py-4">
                Cinemax Movie Service © 2021
            </p>
        </div>
</footer>