<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Add New Show Time</h1>
            <div class="card-body">
                <form th:action="@{/showT}" th:object="${mdt}" method="post"/>
                <div class="form-group">
                    <input type="number" name="movie" th:value="*{movieId}" hidden>
                    <label>Select the date</label>
                    <select name="dateSlot" th:value="*{dateSlot}">
                        <th:block th:each="date:${dates}">
                            <option th:value="${date.id}" th:text="${date.date}"></option>
                        </th:block>
                    </select>
                    <br><br>
                    <label>Select the Time</label>
                    <select name="timeSlot" th:value="*{timeSlot}">
                        <th:block th:each="time:${times}">
                            <option th:value="${time.id}" th:text="${time.time}"></option>
                        </th:block>
                    </select>
                    <br><br>
                </div>
                <br>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>